@model TodoMVC.ViewModels.TodoIndexModel

@{
    ViewBag.Title = "Todos";
}

<div class="todos-holder">
    @using (Html.BeginForm("Create", "Todo", FormMethod.Post)) {
        @Html.ValidationMessage("Text", new { @class = "text-danger todo-create-error" })
        <input type="text" name="Text" value="@Model.Todo.Text"/>
        <br />
        <input type="submit" class="btn btn-primary" value="Add Todo" />
    }
    <ul class="todos col-centered">
        @foreach (var item in Model.Todos) {
            string doneClass = item.IsDone ? "todo-done" : "";
            <li class="todo  @doneClass">
                @using (Html.BeginForm("Edit", "Todo", new { id = @item.Id }, FormMethod.Post, new { @class = "todo-edit-form" })) {                        
                    <input type="checkbox" checked="@item.IsDone" class="todo-checkbox" name="IsDone" value="true"/>
                    <input type="hidden" value="false" name="IsDone" />
                }
                <span>
                    @item.Text
                </span>
                @using (Html.BeginForm("Delete", "Todo", new { id = @item.Id }, FormMethod.Post, new { @class = "todo-delete-form" })) {
                    <input type="submit" value="✖" class="btn btn-danger"/>
                }
            </li>
        }
    </ul>
</div>

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $(".todo-edit-form").on("change", function () {
                $(this).submit();
            });
        });
    </script>
}